                <a target="_blank" href="{{ site.social.orcid }}"><i class="fab fa-orcid"></i></a>
                <a target="_blank" href="{{ site.social.scholar }}"><i style="padding-right:5px" class="fas fa-user-graduate"></i></a>
                <a target="_blank" href="{{ site.social.researchgate }}"><i class="fab fa-researchgate"></i></a>
                <a target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a>
                <a target="_blank" href="{{ site.social.instagram }}"><i class="fab fa-instagram"></i></a>
                {% include icon-x.html %}
                <a target="_blank" href="{{ site.social.linkedin }}"><i class="fab fa-linkedin"></i></a>
